<h1 style="color: white; margin-bottom: 190px; font-size: 35px;">About Us</h1>

<div class="about-content" style="background: linear-gradient(to bottom, #ADD8E6, #000080); font-size: 20px; font-weight: bold; color: transparent;">
  <p style="color: white;">Welcome to our restaurant! We are a team of passionate chefs and food enthusiasts dedicated to providing you with the best dining experience.</p>
  <p style="color: rgb(0, 0, 0);">Our mission is to serve delicious and innovative dishes made from the freshest ingredients. Whether you're a foodie looking for exciting flavors or someone seeking comfort in familiar tastes, we have something for everyone.</p>
  <p style="color: rgb(255, 245, 245);">At our restaurant, we value quality, creativity, and customer satisfaction. We take pride in our culinary creations and strive to make every meal a memorable one.</p>
  <p style="color: black;">Thank you for choosing our restaurant. We look forward to serving you and hope you enjoy your dining experience with us!</p>
</div>
