/* Reset some default styles *
/* Basic styling for the page */


.signup-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 130px;
    margin-bottom: 20px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    flex: 1; /* Make the cards flex items and occupy equal width within the container */
    min-width: 300px; /* Set a minimum width for the cards */
    max-width: 300px; /* Set a maximum width for the cards */
    min-height: 350px;
    margin: 0 auto;

    margin-top: 60px;
    padding: 20px;
   
}


h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: brown;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}
.ko {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    padding-top: 100px;
    
  }

  /* Media query for screens with a maximum width of 768px (e.g., mobile devices) */
  @media (max-width: 768px) {
    .ko {
      padding-left: 20px;
      padding-top: 50px;
    }
  }
