<body style="margin-bottom: 220px;">
  <h2 class="hi animate-left">Welcome! To our site</h2>
  <h2 class="hi animate-left">Explore our menu and order something!</h2>
  <div class="card-container">
    <div class="card home-card">
      <p>Do you already have an account?</p>
      <p>Login here!</p>
      <a routerLink="/login">Login</a><br>

      <p>Create an account!</p>
      <a routerLink="/signup">Signup</a>

      <p style="font-size: 17px; font-weight: bold;">Forgot your password?</p>
      <p style="font-size: 16px;">Click below.</p>
      <a href="#forgot-password">Reset Password</a><br>
    </div>
    
    <!-- Add other cards here -->
  </div>
</body>
